name: CI - Sales Pipeline

on:
  push:
    branches: ["main"]
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -U pip
          pip install -e .[dev]

      - name: Run tests
        run: pytest tests_ci -v

      - name: Build package
        run: |
          pip install build
          python -m build

      - name: Upload dist artifacts
        uses: actions/upload-artifact@v5
        with:
          name: python-package-distributions
          path: dist/

  publish:
    if: startsWith(github.ref, 'refs/tags/')
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/project/sales-pipeline/
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v6
        with:
          name: python-package-distributions
          path: dist/

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
