name: CI - Sales Pipeline

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:
  test-build-publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          pip install -U pip
          pip install -e .[dev]

      - name: Run tests
        run: pytest tests_ci -v

      - name: Build package
        run: |
          pip install build
          python -m build

      - name: Publish to GitHub Packages
        env:
          TWINE_USERNAME: __token__
          TWINE_PASSWORD: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install twine
          twine upload --verbose \
            --repository-url https://upload.pkg.github.com/hugoboulengeraubay/sales_pipeline \
            dist/*
